

/* error */
.error-notification {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FF3737; 
  color: #FFFFFF; 
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.error-icon {
  font-size: 24px;
  margin-right: 10px;
}

.error-message {
  font-size: 16px;
}


/* Actualizar */
.toast-notification {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #34C759; 
  color: #FFFFFF; 
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.toast-notification::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFFF' d='M21 6.757L9.343 19 3.757 13.243 5 11.757 9.343 17.243 21 6.757Z'/%3E%3C/svg%3E");
  background-size: 24px 24px;
  margin-right: 10px;
}



/* Insertar */
.toast-success {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #34C759; 
  color: #FFFFFF; 
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.toast-success::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFFF' d='M21 6.757L9.343 19 3.757 13.243 5 11.757 9.343 17.243 21 6.757Z'/%3E%3C/svg%3E");
  background-size: 24px 24px;
  margin-right: 10px;
}
